# Тема “Вычисления с помощью Numpy”

## Задание 1

Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [2]:
import numpy as np

In [3]:
A = np.array([[1, 6,], 
              [2, 8,], 
              [3, 11],
              [3, 10], 
              [1, 7]])

In [4]:
print("Форма A: {}".format(A.shape))

Форма A: (5, 2)

In [5]:
mean_a=A.mean(axis=0)
print("Средние значения по каждому признаку: {}".format(mean_a))

Средние значения по каждому признаку: [2.  8.4]

## Задание 2

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [6]:
a_centered = A - mean_a
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

In [7]:
print("Форма a_centered: {}".format(a_centered.shape))

Форма a_centered: (5, 2)

## Задание 3

Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [8]:
a_centered_sp = a_centered.T[0] @ a_centered.T[1]

print("Cкалярное произведение столбцов массива a_centered_sp: {}".format(a_centered_sp))
print("Столбец 1 - a_centered[0]: {}".format(a_centered.T[0]))
print("Столбец 2  - a_centered[1]: {}".format(a_centered.T[1]))

Cкалярное произведение столбцов массива a_centered_sp: 8.0
Столбец 1 - a_centered[0]: [-1.  0.  1.  1. -1.]
Столбец 2  - a_centered[1]: [-2.4 -0.4  2.6  1.6 -1.4]

In [9]:
z=A.T[0].shape[0]
covariance = a_centered_sp / ( z - 1)
covariance

2.0

## Задание 4**

Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.

В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [10]:
covariance_new = np.cov(A.T)
covariance_new

array([[1. , 2. ],
       [2. , 4.3]])

# Тема “Работа с данными в Pandas”

## Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные:

[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],

['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],

[450, 300, 350, 500, 450, 370, 290].

In [11]:
import pandas as pd

In [12]:
authors = {
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
}

pd_authors = pd.DataFrame(authors)

pd_authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [13]:
book = {
    "author_id" :[1, 1, 1, 2, 2, 3, 3],
          "book_title" : ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
          "price" : [450, 300, 350, 500, 450, 370, 290]
}

pd_book = pd.DataFrame(book)
pd_book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

## Задание 2

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [14]:
authors_price = pd.merge(pd_authors, pd_book, on='author_id', how='inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

## Задание 3

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [15]:
top5 = pd.DataFrame(authors_price.nlargest(5, ['price']))
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

## Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price. 
В датафрейме authors_stat должны быть четыре столбца:

author_name, min_price, max_price и mean_price,

в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [17]:
mx=pd.DataFrame(authors_price.groupby('author_name')['price'].max())
men=pd.DataFrame(authors_price.groupby('author_name')["price"].mean())
mn=pd.DataFrame(authors_price.groupby('author_name')["price"].min())
mx = mx.rename(columns={'price':'max_price'})
mn = mn.rename(columns={'price':'min_price'})
men = men.rename(columns={'price':'mean_price'})
authors_stat= pd.concat([mn, mx, men], sort=False, axis=1)
authors_stat= authors_stat.reset_index()

authors_stat.to_string(index=False)
print (authors_stat.to_string(index=False))
authors_stat

author_name  min_price  max_price  mean_price
 Островский        290        370  330.000000
   Тургенев        300        450  366.666667
      Чехов        450        500  475.000000

  author_name  min_price  max_price  mean_price
0  Островский        290        370  330.000000
1    Тургенев        300        450  366.666667
2       Чехов        450        500  475.000000

Вариант преподавателя:

In [20]:
authors_stat = authors_price.groupby('author_name').agg({'price': [('min_price', 'min'), ('max_price', 'max'), ('mean_price', 'mean')]})
authors_stat

                price
            min_price max_price  mean_price
author_name
Островский        290       370  330.000000
Тургенев          300       450  366.666667
Чехов             450       500  475.000000

* в правильности решения задачи 4 совершено не уверен. Прошу по возможности показать решение

## Задание 5**

Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:

['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].

Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.
Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table.
При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов.
Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl".
Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

Сам не успел решить. Вариант преподавателя:

In [ ]:
book_info = pd.pivot_table(data=authors_price, values='price', index='author_name', columns='cover', aggfunc=np.sum, fill_value=0)

то есть будем работать с таблицей authors_price (data=authors_price), в индексах будет author_name (index='author_name'), а в столбцах будут cover ( columns='cover'), а агрегируем значения цен (values='price') с помощью суммирования (aggfunc=np.sum) и заполняем пропущенные значения 0 (fill_value=0)